# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
bin/*
db/*
dbd/*
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
as/*
autosave/*
*.egg-info/
.installed.cfg
*.egg

O.*

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/build/
docs/source/generated/

# pytest
.pytest_cache/

# PyBuilder
target/

# Editor files
#mac
.DS_Store
*~
.cproject
.project

envPaths
pmc/*.56K
pmc/*.LOG
pmc/*.MAP
pmc/*.PMA
pmc/*.TBL


info_positions.req
info_settings.req

#vim
*.swp
*.swo

#pycharm
.idea/

#VSCode
.vscode/

#Ipython Notebook
.ipynb_checkpoints

.hgignore
.hg/
records.dbl
